@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar {
  background: rgb(72,144,218);
  background: linear-gradient(90deg, rgba(72,144,218,1) 0%, rgba(49,119,211,1) 25%);
}

.center-bar {
  background: rgb(46,108,206);
  background: linear-gradient(90deg, rgba(46,108,206,1) 0%, rgba(46,108,206,1) 20%, rgba(255,255,255,1) 35%);
}

.footer {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 65%, rgba(164,201,238,1) 76%, rgba(66,142,220,1) 90%);
}

hr.vertical:after {
  content: '';
  right: 0;
  bottom: 25%;
  height: 50%;
  @apply absolute w-0 border-r border-really-gray;
}

body {
  font-family: "Arial", "Helvetica", serif;
}
